/* ************* overall styling ************* */

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

:root{
    font-size: 62.5%;
}

html{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arima',Arial, sans-serif;
    min-height: 100vh;
    color: #000;
    background-color: #fefefe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ff0000' fill-opacity='0.22'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ************* overall styling done ************* */

/* main container style *************************************** */

.Quote__generator{
    width: auto;
    max-width: 90rem;
    padding: 2rem 3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* main container style end *************************************** */

/* ******************** text style ******************************** */

.Quote__generator--text__para{
    font-family: "arima",Arial;
    font-size: 2.75rem;
    font-weight: 500;
}

.Quote__generator--text__long--para{
    font-family: "arima",Arial;
    font-size: 2rem;
    font-weight: 500;
}

.fa-quote-left{
    font-size: 4rem;
}

.Quote__generator--author__name{
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    font-style: italic;
}
/* ******************** text style end *************************** */

/* buttons style */
.Quote__generator--buttons{
    display: flex;
    justify-content: space-between;

}
.Quote__generator--buttons__twitter,
.Quote__generator--buttons__new{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.5rem 1.8rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fefefe;
    background-color: #333;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}
.Quote__generator--buttons__twitter:hover{
    color: #38a1f3;
}
.Quote__generator--buttons__new:hover{
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}
.Quote__generator--buttons__twitter:active,
.Quote__generator--buttons__new:active{
    transform: translate(0, 0.3rem);
    -webkit-transform: translate(0, 0.3rem);
    -moz-transform: translate(0, 0.3rem);
    -ms-transform: translate(0, 0.3rem);
    -o-transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
/* buttons style end */

/* media queruies**************** */

@media screen and (max-width: 1000px) {
    .Quote__generator {
        margin: auto 1rem;
    }
}